#history-bg {
  background-image: url('./couple-buying-home.jpg');
  background-color: #797a78;
  height: 640px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 1.75rem;
}

@media screen and (min-width: 600px) {
  #history-bg {
    height: 380px;
  }
}
